@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans&display=swap');

*{
    font-size: 20px;
    font-family:  'Inter', sans-serif;
    box-sizing: border-box;
}

#name{
    font-size: 40px;
    font-weight: bold;
}

body{
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color:rgb(229, 238, 238);
}

#content{
    flex-direction: column;
    width: fit-content;
    background-color: #ffff;  
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgba(37, 52, 74, 1);
    border-radius: 10px;
    padding: 35px 40px;
}

.box{
    margin-bottom: 25px;
}