@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans&display=swap');

*{
    font-size: 20px;
    font-family:  'Inter', sans-serif;
}

#name{
    font-size: 40px;
    font-weight: bold;
}

#content{
    display: flex; 
    height: 600px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

.box{
    margin-bottom: 25px;
}